<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="javascripts/garden.js"></script>

    <title>🌱gro</title>

    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />

  </head>

  <body>
    <section id="command_palette">
      <button class="command" id="plant_something" type="button">
        plant something
      </button>

      <button class="command" id="buy_seeds" type="button">
        buy seeds
      </button>

      <button class="command" id="show_almanac" type="button">
        show almanac
      </button>
    </section>

    <section id="sky">
      <div id="clock"></div>
    </section>

    <section id="land">
      <article class="field" id="field1">
        <div class="plot" id="plot1"></div>
        <div class="plot" id="plot2"></div>
        <div class="plot" id="plot3"></div>
        <div class="plot" id="plot4"></div>
        <div class="plot" id="plot5"></div>
        <div class="plot" id="plot6"></div>
        <div class="plot" id="plot7"></div>
        <div class="plot" id="plot8"></div>
        <div class="plot" id="plot9"></div>
      </article>
    </section>

    <section id="catalog">
      <h1>CATALOG</h1>

      <h2>fruit:</h2>

      <p>
        
      </p>

    </section>

    <section id="soundtrack">
      <p>
        why not listen to the soundtrack while you play?
      </p>

      <iframe style="border: 0; width: 30em; height: 42px;" src="https://bandcamp.com/EmbeddedPlayer/album=1808439088/size=small/bgcol=ffffff/linkcol=2ebd35/transparent=true/" seamless><a href="http://catbeatsofficial.bandcamp.com/album/catbeats">catbeats by catbeats</a></iframe>
    </section>
</html>
